.main-div {
  display: inline-block;
  position: relative;
  width: 100%;
}

.header {
  text-align: center;
  color: lightblue;
}

.reset {
  margin-top: 8px;
  color: red;
  font-weight: 600;
}

.selected {
  background-color: black;
}

p {
  display: inline;
}

.dummy {
  margin-top: 75%;
}

.board {
  height: 60%;
  width: 60%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 12px;
  margin: 0 auto;
}

.square {
  height: 33%;
  width: 33%;
  box-sizing: border-box;
  border: 5px solid grey;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: lightblue;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
